<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<div class=jumbotron>
    <div class="container">
        <h1 class="display-2">Enable or disable user\admin</h1>
        <div class="col-sm-5">
            <form action="/admin/enable" method="POST" enctype="utf8">
                <table class="table table-hover">
                    <tr>
                        <th>Login</th>
                        <th>Status</th>
                    </tr>
                    <tr th:each="user, stat : ${usersWrapper.users}">
                        <td th:text="${user.username}"></td>
                        <td>
                            <div th:class="'input-group'+${user.id}" th:id="'user'+${user.id}">
                                <label class="radio-inline"><input type="radio" th:name="'enableRadio'+${user.id}" value="true" th:checked=${user.enabled}>Enable</label>
                                <label class="radio-inline"><input type="radio" th:name="'enableRadio'+${user.id}" value="false" th:checked=${!user.enabled}>Disable</label>
                                <!--<label class="radio-inline">-->
                                    <!--<input type="radio" th:name="'enableRadio'+${user.id}" th:field="*{user.enabled}"-->
                                           <!--th:value="true">Enable-->
                                <!--</label>-->
                                <!--<label class="radio-inline">-->
                                    <!--<input type="radio" th:name="'enableRadio'+${user.id}"th:field="*{user.enabled}"-->
                                           <!--th:value="false">Disable-->
                                <!--</label>-->
                            </div>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>