<!doctype html>
<html lang="pl">
    <head>
            <title>Trip calc</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body>
    <div class=jumbotron>
        <div class="container">
            <h1 class="display-2">Trip calculator</h1>
                <form action="/result" method="post">
                    <div class="form-group row">
                            <div class="col-xs-2">
                                <label for="startDate">Data i godzina wyjazdu:</label>
                                <input class="form-control" id="startDate" name="startDate" type="datetime-local" required>
                            </div>
                            <div class="col-xs-2">
                                <label for="endDate">Data i godzina powrotu:</label>
                                <input class="form-control" id="endDate" name="endDate" type="datetime-local" onblur="compareDate()" required>
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <div class="col-xs-4">
                                <label for="pricePerDay">Wysokość diety za dobę podróży:</label>
                                <input class="form-control" id="pricePerDay" name="pricePerDay" type="number" placeholder="zł" required>
                            </div>
                        </div>
        
                        <h2 class="display-1">Zwrot kosztów przejazdu</h2>
        
                        <div class="form-group row">
                            <div class="col-xs-2">
                                <h5>Samochodem do 900cc:</h5>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" id="below900cc" name="below900cc" type="number" placeholder="km">
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <div class="col-xs-2">
                                <h5>Samochodem pow. 900cc:</h5>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" id="above900cc" name="above900cc" type="number" placeholder="km">
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <div class="col-xs-2">
                                <h5>Motocyklem:</h5>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" id="motocycle" name="motocycle" type="number" placeholder="km">
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <div class="col-xs-2">
                                <h5>Motorowerem:</h5>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" id="motorbike" name="motorbike" type="number" placeholder="km">
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary">Count</button>
                </form>
        </div>
    </div>
    <script>
        function compareDate(){
            var startDt = document.getElementById("startDate").value;
            var endDt = document.getElementById("endDate").value;
  
            if( (new Date(startDt).getTime() > new Date(endDt).getTime()) ){
                alert("Wprowadź jeszcze raz datę powrotu!");
                document.getElementById("endDate").value = "";
            }
        }
    </script>
    </body>
</html>