<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
            <title>Login page</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body>
    <div class=jumbotron>
        <div class="container">
            <h1 class="display-2">Log in here</h1>
            <div class="col-sm-5">
                    <form action="/login" method="post">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="username" type="text" class="form-control" name="username" placeholder="Login" required>
                            </div>
            
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
                            </div>
                            <div>
                                <input type="checkbox" onclick="showPassword()">Show Password
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        <!-- <div id="errors" th:if="${param.error}">
                            <font color="red">Error. Can't log in.</font>
                        </div> -->
                    </form>
                    Don't have an account?<a href="register" class="btn btn-md btn-link">Register</a>
                    
            </div>
        </div>
    </div>
    <script>
        function showPassword(){
            var x = document.getElementById("password");
            if(x.type === "password"){
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    </body>
</html>