<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<h1>Login page</h1>
<div th:if="${param.error}" class="alert alert-error">
    Invalid username and password.
</div>
<div th:if="${param.logout}" class="alert alert-success">
    You have been logged out.
</div>
<p>You can log in as a default user with username "user" and password "password".</p>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <button type="submit" class="btn">Log in</button>
</form>
<p><a th:href="@{/index}">Back to home page</a></p>
</body>
</html>
